body {
    padding: 0;
    margin: 0;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-attachment: fixed;
    font-size: 1.2rem;
}

.container {
    color: white;
    width: 55vw;
    margin: auto;
}

/* heading ----------- */

.heading {
    text-align: center;
    padding-bottom: 1px;
}

#title {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Old Standard TT', sans-serif;
}

#description {
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    margin-top: -20px;
}

/* form----------- */

form {
    padding: 15px 40px;
    font-family: 'Roboto', sans-serif;
    margin-top: 8px;
    background-color: #fffbfb3d;
}

input[type=text], input[type=email], input[type=number], select, textarea {
    outline: none;
    box-sizing: border-box;
    height: 5vh;
    padding: 5px 10px;
    font-size: 17px;
    margin: 5px 0 25px;
    border: none;
    width: 100%;
}

input[type=text], input[type=email], input[type=number] {
    border-bottom: 3px solid white;
    appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    background: transparent;
}

select {
    border-radius: 5px;
    background-color: white;
}

.radio-label {
    margin: 0;
}

input[type=radio], input[type=checkbox] {
    margin-top: 13px;
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.check-label {
    margin: 25px 0 0;
}

textarea {
    border-radius: 5px;
    height: 20vh;
    font-family: 'Roboto', sans-serif;
}

#comment {
    display: inline-block;
    margin-top: 25px;
}

#submit {
    color: white;
    background: black;
    cursor: pointer;
    border: 4px solid transparent;
    border-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    border-image-slice: 1;
    display: block;
    margin: auto;
    width: 150px;
    height: 50px;
    font-size: 24px;
    font-weight: bold;
}

#submit:hover {
    background: white;
    color: black;
}

/* media query------- */

@media screen and (max-width:800px) {
    .container {
        width: 98vw;
    }
    form {
        padding: 15px 20px;
    }
    #title {
        font-size: 10vw;
    }
}